.login-container {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
        url('https://augest.wpbingosite.com/wp-content/uploads/2024/09/back-17.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.main-font {
    font-family: 'Playfair Display', serif;
}

input::placeholder {
    color: #cbd5e1;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-size: 12px;
}

input:focus {
    box-shadow: 0 0 0 4px rgba(232, 127, 44, 0.1);
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

img {
    animation: float 4s ease-in-out infinite;
}